body {
	margin: 10px;
}

label:not(.intd) {
	display: block;
	width: 150px;
	float: left;
}

input {
	margin: 5px;
}

table:not(.parent) {
	margin: auto;
}
tbody tr:nth-child(odd) {
	background: rgba(98, 180, 193, 0.251);
}
td, th {
	padding: 5px 10px;
	border: 1px #1f20405c outset;
}