body {
	margin: 10px;
}

a[href$="logout"] {
	position: fixed;
	right: 15px;
	top: 15px;
}
a[href="#"] {
	position: fixed;
	right: 15px;
	bottom: 15px;
}

img {
	max-height: 400px;
}

.icon {
	height: 20px;
}

.split {
	background: #00b128;
}

.haveAttendance {
	border: 0;
	border: 3px dashed #00b128;
}

label:not(.intd) {
	display: block;
	width: 150px;
	float: left;
}

input {
	margin: 5px;
}

table:not(.parent) {
	margin: auto;
}
tbody tr:nth-child(odd) {
	background: #5d5c6d38;
}
td:not(.no-border),
th:not(.no-border) {
	height: 35px;
	padding: 5px 10px;
	border: 1px solid #16154491;
}